<div class="location-image-center">
  <div class="content-wrapper">
    <div class="location-image-wrapper">
      <h3 class="location-name">Ilex Forest</h3>
      <img src="assets/locationImages/ilex-forest.png" alt="Ilex Forest" class="location-image">
    </div>
    <div class="location-description">
      <p>Ilex Forest is <strong>a dense forest located in Johto, to the west of Azalea Town and to the south of Goldenrod City</strong>. When the player first visits Ilex Forest, they can find a man who is looking for his Farfetch'd.</p>
    </div>
  </div>
</div>
