<div class="container">
  <div class="left-column">
    <div class="map-container">
      <app-map></app-map>
    </div>
    <div class="location-image-container">
      <app-location-image *ngIf="selectedLocation" [location]="selectedLocation"></app-location-image>
    </div>
  </div>
  <div class="right-column">
    <div class="information-container">
      <app-information *ngIf="selectedLocation" [location]="selectedLocation"></app-information>
    </div>
  </div>
</div>
<img src="assets/hgsslogo.png" alt="Pokémon HeartGold and SoulSilver" class="logo-overlay">

