.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-column, .right-column {
  flex-grow: 1;
  min-width: 300px;
  padding: 10px;
  overflow-y: auto;
}

.map-container {
  margin-bottom: 10px;
}

.location-image-container {
  height: auto;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.information-container {
  overflow-y: auto;
}


@media (min-width: 768px) {
  .container {
    flex-direction: row;
    overflow: hidden;
  }

  .left-column {
    flex: 3;
    overflow-y: auto;
  }

  .right-column {
    flex: 2;
    overflow-y: auto;
  }

  .map-container {
    margin-bottom: 15px;
  }

  .location-image-container {
    min-height: 200px;
  }
}

@media (min-width: 1024px) {
  .right-column {
    flex: 3;
  }
  .information-container {
    padding: 20px;
  }
}



