.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}

.map-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .map-container {
    padding-bottom: 66.67%;
  }
}

@media (min-width: 1024px) {
  .map-container {
    padding-bottom: 60%;
  }
}

@media (min-width: 1367px) {
  .map-container {
    padding-bottom: 56.25%;
  }
}
