:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.controls-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.section-label {
  font-weight: bold;
  color: #13556c;
  font-size: 16px;
  margin-bottom: 10px;
}

.button-grid {
  display: grid;
  gap: 10px;
}

.method-section .section-label,
.time-section .section-label,
.version-section .section-label {
  color: white;
}


.version-section, .method-section, .time-section {
  flex: 1;
  min-width: 200px;
}

.section-label {
  font-weight: bold;
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-grid {
  display: grid;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 8px 12px;
  border: 1px solid #13556c;
  background-color: white;
  color: #13556c;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button:hover {
  background-color: #13556c;
  color: white;
}

.version-buttons .active[data-version="HG"] { background-color: #b99e0b; color: white; }
.version-buttons .active[data-version="SS"] { background-color: silver; color: white; }

.method-buttons .active[data-method="WALKING"] { background-color: #4CAF50; color: white; }
.method-buttons .active[data-method="SURFING"] { background-color: #09749a; color: white; }
.method-buttons .active[data-method="OLD_ROD"] { background-color: #7baed2; color: white; }
.method-buttons .active[data-method="GOOD_ROD"] { background-color: #4d9ad0; color: white; }
.method-buttons .active[data-method="SUPER_ROD"] { background-color: #258dd7; color: white; }
.method-buttons .active[data-method="ROCK_SMASH"] { background-color: #CD7F32; color: white; }
.method-buttons .active[data-method="GIFT"] { background-color: #FFC0CB; color: white; }
.method-buttons .active[data-method="ENCOUNTER"] { background-color: #ad0d45; color: white; }

.method-buttons .button-grid {
  grid-template-columns: repeat(2, 1fr);
}

.time-buttons .active[data-time="MORNING"] { background-color: #FFA500; color: white; }
.time-buttons .active[data-time="DAY"] { background-color: #FFD700; color: white; }
.time-buttons .active[data-time="NIGHT"] { background-color: #4B0082; color: white; }

.time-buttons {
  display: flex;
  justify-content: space-between;
}

.time-buttons button {
  flex: 1;
  max-width: 100px;
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.table-container {
  flex-grow: 1;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.encounter-table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  background-color: white;
}

.encounter-table th {
  background-color: #0c3a4d;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 15px 10px;
  font-size: 16px;
}

.encounter-table th, .encounter-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.encounter-table th {
  background-color: #13556c;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.encounter-table td {
  vertical-align: middle;
}

.encounter-table td:first-child {
  text-align: center;
}

.app-pokemon-image {
  width: 40px;
  height: 40px;
}

.version-icon, .time-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

@media (max-width: 768px) {
  .table-container {
    width: 100%;
    overflow-x: auto;  // Ensures horizontal scrolling
  }

  .encounter-table {
    min-width: 600px;  // Adjust based on your content needs
  }

  .encounter-table th, .encounter-table td {
    padding: 5px; // Reduced padding
  font-size: 12px; // Smaller font size for better visibility
  }
}


@media (min-width: 1200px) {
  .controls-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {
  .controls-container {
    flex-wrap: wrap;
  }
  .version-section, .method-section, .time-section {
    flex-basis: calc(50% - 10px);
  }
  .button-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  button {
    font-size: 12px;
    padding: 8px;
    height: auto;
  }
  .table-container {
    max-height: 40vh;
    overflow-y: auto;
  }
}

@media (max-width: 1366px) and (min-width: 769px) {
  .controls-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .version-section, .method-section, .time-section {
    width: 48%;
    margin-bottom: 10px;
  }
  .button-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  button {
    font-size: 12px;
    padding: 6px;
    height: 30px;
  }
  .table-container {
    max-height: calc(60vh - 300px);
    overflow-y: auto;
  }
}

@media (min-width: 1025px) {
  .controls-container {
    flex-wrap: nowrap;
  }
}

@media (max-width: 768px) {
  .table-container {
    min-width: 100%;
    overflow-x: scroll;
  }
}
