:host {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Adjust as needed */
  height: 100vh;
  background-color: rgba(44, 44, 44, 0.8);
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.info-content {
  margin-top: 20px;
}
