body {
  background-color: #0a192f;
  font-family: Inter, sans-serif;
}

@media screen and (max-width: 960px) {
  body {
    display: none;
  }

  body::before {
    content: "Please view on a larger device (>10 inches).";
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9999;
  }
}
