.pokemon-container {
  text-align: center;  // Centers the content
margin: 10px;        // Adds some margin around each Pokémon image and name
}

.pokemon-image {
  width: 50px;       // Sets the width of the image
height: auto;       // Keeps the aspect ratio of the image
}

h3 {
  color: #333;       // Sets the text color for the Pokémon name
margin-top: 5px;   // Adds a small space between the image and the name
}
